---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import sakiavatar from "../assets/saki_avatar.png";
import "../styles/global.css";

---

<main
    class="flex flex-col justify-center align-center min-h-screen min-w-screen"
>
    <div
        class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-950
bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.5),rgba(255,255,255,0))]"
    >
    </div>
    <div class="mx-auto">
        <Image src={sakiavatar} alt="saki avatar" width="200" class="mx-auto" />
        <div>
            
            <h1 class="text-center text-4xl">404 Page not found</h1>
            <div class="flex justify-center items-center m-10">    
                <a href="/" class="block py-3 px-6 rounded-full border hover:scale-110 transition">Go back home</a>
            </div>
        </div>
    </div>
</main>
