---
import Layout from "../layouts/Layout.astro";
import Main from "../components/main.astro";
---

<Layout title="Isaac Mayné portfolio.">
  <main class="flex justify-center">
    <Main />

  </main>
</Layout>
