---
import Layout from "../layouts/Layout.astro";
import Main from "../components/main.astro";
import AboutMe from "../components/about_me.astro";
import Experience from "../components/experience.astro";
---

<Layout title="Isaac Mayné portfolio." description="tecnico superior de desarrollo web">
  <main class="flex flex-col justify-center align-center py-8 px-6 w-full mx-auto lg:max-w-4xl md:max-w-2xl">
    <Main />
    <Experience />
    <AboutMe />
  </main>
</Layout>
