<div class="max-w-4xl mx-auto text-center md:text-left">
  <h3 class="text-2xl mb-4">Sobre mi</h3>
  <p>
    Hola, soy Isaac Mayné, un programador full stack apasionado por crear
    soluciones tecnológicas innovadoras.
  </p>
  <p>
    Me caracterizo por ser responsable, proactivo y capaz de trabajar de manera
    efectiva en equipo. Estoy constantemente buscando oportunidades para
    aprender y crecer en mi campo. En este portfolio, encontrarás una muestra de
    mis proyectos y habilidades.
  </p>
  <p>¡Gracias por tu visita!</p>
</div>
