<div class="text-center md:text-left py-10" id="sobre-mi">
  <h3 class="text-2xl mb-6 text-indigo-700 font-bold">Sobre mí</h3>
  <p>
    ¡Hola! Soy Isaac Mayné, desarrollador frontend con una trayectoria atípica: tras más de 10 años dedicados a la docencia, decidí seguir mi verdadera pasión y enfocarme en la programación.
  </p>
  <br>
  <p>
    Desde 2020 he trabajado en proyectos web utilizando tecnologías modernas, tanto en frontend como en backend, como <b class="text-indigo-400">Vue.js</b>, <b class="text-indigo-400">Laravel</b>, <b class="text-indigo-400">PHP</b> y <b class="text-indigo-400">MySQL</b>. He colaborado en equipos ágiles y aplicado servicios como <b class="text-indigo-400">AWS</b> para mejorar rendimiento y escalabilidad.
  </p>
  <br>
  <p>
    Además, de forma autodidacta, he aprendido <b class="text-indigo-400">React.js</b>, <b class="text-indigo-400">Next.js</b> y <b class="text-indigo-400">Node.js</b>, lo que me ha permitido especializarme en frontend y crear experiencias de usuario dinámicas, intuitivas y escalables.
  </p>
  <br>
  <p>
    Me considero una persona creativa, curiosa y con ganas de aprender constantemente. Disfruto resolviendo problemas, trabajando en equipo y construyendo soluciones que realmente funcionen. En este portafolio encontrarás una selección de mis proyectos y habilidades, reflejo de mi crecimiento y aprendizaje continuo.
  </p>
  <p class="mt-3 font-bold">¡Gracias por tu visita!</p>
</div>
