---
const experiencias = [
  {
    fecha: "2022 - Presente",
    puesto: "Desarrollador web Fullstack",
    empresa: "Depatro SL (Hockerty/Sumissura) - Sant Cugat del Vallés",
    descripcion: [
      "Desarrollo y mantenimiento de aplicaciones web utilizando un framework propio basado en PHP.",
      "Implementación de soluciones de frontend utilizando Smarty, JavaScript y jQuery para mejorar la experiencia del usuario.",
      "Diseño y optimización de bases de datos MySQL para garantizar un rendimiento eficiente y escalabilidad.",
      "Refactorización de código existente para mejorar la legibilidad, rendimiento y mantenibilidad del software.",
      "Colaboración en un equipo ágil, participando en revisiones de código y aportando mejoras continuas al proceso de desarrollo.",
      "Integración de servicios de AWS, como S3 y CloudFront, para optimizar el almacenamiento y la distribución de contenido."
    ],
    tecnologias: [
      "php_light",
      "javascript",
      "mysql",
      "html5",
      "css",
      "git",
      "sentry",
    ],
  },
  {
    fecha: "2021 - 2022",
    puesto: "Desarrollador web Fullstack",
    empresa: "PMFarma - Barcelona",
    descripcion: ["Descripción del puesto como desarrollador web"],
    tecnologias: ["php", "vue", "javascript", "html5", "css", "git"],
  },
  {
    fecha: "2020 - 2021",
    puesto: "Desarrollador web Fullstack",
    empresa: "Rica Design",
    descripcion: ["Descripción del puesto como desarrollador web"],
    tecnologias: [
      "php_light",
      "javascript",
      "mysql",
      "html5",
      "css",
      "git",
      "sentry",
    ],
  },
  {
    fecha: "ene. 2020 - may. 2020",
    puesto: "Desarrollador web en prácticas",
    empresa: "Rica Design",
    descripcion: ["Descripción del puesto como desarrollador web"],
    tecnologias: [
      "php_light",
      "javascript",
      "mysql",
      "html5",
      "css",
      "git",
      "sentry",
    ],
  },
  {
    fecha: "sept. 2020 - sept. 2021",
    puesto: "Técnico de soporte informático",
    empresa: "Maristes Sants-Les Corts",
    descripcion: ["Descripción del puesto como desarrollador web"],
    tecnologias: [
      "php_light",
      "javascript",
      "mysql",
      "html5",
      "css",
      "git",
      "sentry",
    ],
  },
  {
    fecha: "2013 - 2021",
    puesto: "Profesor de natación",
    empresa: "Maristes Sants-Les Corts",
    descripcion: ["Descripción del puesto como desarrollador web"],
    tecnologias: [
      "php_light",
      "javascript",
      "mysql",
      "html5",
      "css",
      "git",
      "sentry",
    ],
  },
];

const components = await Astro.glob(
  "../components/icons/knowledge_icons/*.astro",
);
---

<section class="py-6 my-6" id="experiencia">
  <h3 class="text-2xl mb-6">Experiencia Laboral</h3>
  <div class="line py-6">
    <div class="mb-4">
      {
        experiencias.map((experiencia) => (
          <article class="flex flex-row mb-8">
            <div class="point" />
            <div class="flex flex-row w-full">
              <h4 class="flex-1 text-xl mr-2 dark:text-indigo-300 max-w-32 md:max-w-xs">
                {experiencia.fecha}
              </h4>
              <div class="flex-1 w-full">
                <h4 class="text-xl mb-2">{experiencia.puesto}</h4>
                <p>
                  <i>{experiencia.empresa}</i>
                </p>
                <ul>
                  {experiencia.descripcion.map((desc) => (
                    <li>{desc}</li>
                  ))}
                </ul>
                <div class="grid-conocimientos">
                  {components.map(
                    (component) =>
                      experiencia.tecnologias.includes(
                        component.default.name.split("_")[0],
                      ) && (
                        <div>
                          <component.default />
                        </div>
                      ),
                  )}
                </div>
              </div>
            </div>
          </article>
        ))
      }
    </div>
  </div>
</section>
<style>
  .line {
    border-left: 2px solid rgba(58, 119, 168, 0.3);
    padding-left: 1rem;
  }
  article {
    position: relative;
  }
  .point {
    width: 10px;
    height: 10px;
    background-color: #3a77a8;
    border-radius: 50%;
    margin-right: 1rem;
    position: absolute;
    left: -22px;
    top: 10px;
  }
  svg {
    width: 25px;
    height: 100%;
  }

  #experiencia .grid-conocimientos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25px, 1fr));
    gap: 1rem;
    margin: 10px 0;
  }
  #experiencia ul {
    list-style: disc !important;
    padding-left: 1.5rem;
    margin: 10px 0;
  }
  #experiencia ul li {
    display: list-item;
  }
</style>
