---
const current_year = new Date().getFullYear();
---

<footer class="flex justify-center p-4 mt-auto">
    <p class="text-xs">© {current_year} Isaac Mayné Pérez. Todos los derechos reservados.</p>
</footer>
