---
import ThemeIcon from './themeIcon.astro';
---


<nav class="flex justify-center p-4">
  <a class="mx-4" href="#">Home</a>
  <a class="mx-4" href="#">Posts</a>
  <a class="mx-4" href="#"><ThemeIcon /></a>
</nav>
