---
import ThemeIcon from './themeIcon.astro';
---


<nav class="flex justify-center align-center p-4">
  <!-- <a class="mx-4 text-center self-center transition-all hover:text-xl" href="#">Home</a>
  <a class="mx-4 text-center self-center" href="#">Posts</a> -->
  <a class="mx-4 text-center self-center" href="#"><ThemeIcon /></a>
</nav>
