---
import { Picture } from 'astro:assets';
import myImage from "../assets/isaac_avatar.webp";
import Social from "./social.astro";
import GithubIcon from "../icons/github.astro";
import LinkedinIcon from "../icons/linkedin.astro";

let initial_year = 2020;
let current_year = new Date().getFullYear();
let años_de_experiencia = current_year - initial_year;

---
<section class="flex flex-col justify-center md:flex-row items-center py-10 min-h-[70vh]">
    <div>
        <Picture src={myImage} formats={['webp','jpg','png']} alt="saki avatar" width={180} height={180} class='rounded-full'/>
    </div>
    <div class="flex flex-col justify-center pt-6 md:pl-6">
        <h1 class="text-4xl text-center md:text-left text-indigo-700 dark:text-zinc-200" >Isaac Mayné</h1>
        <h2 class="text-xl font-thin text-center md:text-left dark:text-indigo-500">Desarrollador Fullstack</h2>
        <p class="dark:text-zinc-200 text-center md:text-left">Técnico superior en desarrollo de aplicaciones web, con más de {años_de_experiencia} de experiencia.</p>
        <div class="mt-4 flex items-center justify-center md:justify-start">
            <Social platform="github" username="sakimay" className="mr-2">
                <GithubIcon className="dark:fill-indigo-300 fill-indigo-400"/>
            </Social>
            <Social platform="linkedin" usernameF="in/isaac-mayne-perez">
                <LinkedinIcon className="dark:fill-indigo-300 fill-indigo-400"/>
            </Social>
        </div>
    </div>
</section>


