---
import "@fontsource/lato";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import { ViewTransitions } from "astro:transitions"
import global_css from "../styles/global.css";
interface Props {
  title: string;
  description: string;
}
const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <style is:inline set:html={global_css}></style>
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="min-h-screen flex flex-col relative text-black dark:text-white bg-white">
    <div
      class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-indigo-100 dark:bg-gray-950
      bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(100,100,100,0.3),rgba(255,255,255,0.9))]
      dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.5),rgba(255,255,255,0))]"
    >
    </div>
    <Header />
    <slot />
    <Footer />
    <style is:global>
    </style>
  </body>
</html>
